body {
    background: lightpink;
    margin: 0;
    font-family: Arial;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    background: lightgreen;
    text-align: center;
    padding: 1em;
}

h2 {
    margin: 1em 0;
}

main {
    max-width: 60ch;
    margin: 3em auto;
    padding: 0 .5em;
}

section {
    background: lightcoral;
    border-left: .5em solid purple;
    margin: 2em 0;
}

h3 {
    background: lightgoldenrodyellow;
    padding: .5em;
}

section p  {
    padding: .5em;
}

img {
    width: 100%;
    display: block;
}

footer {
    background: lightgreen;
    text-align: center;
    padding: 1em;
}