h1 {
    color: red;
}

.animation-container {
    width: 50vw;
    height: 50vh;
    background: gray;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#waiting {
    background: purple;
}

#loading {
    background: orange;
}